@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Passion+One:wght@400;700;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(90deg, rgb(203, 228, 255) 0%, rgb(215, 255, 254) 100%);
  padding-inline: 10rem;
}
header h1 {
  font-family: "Passion One", sans-serif;
  font-weight: 800;
}
header h1 span {
  color: #8132af;
}
header .logo__Container {
  display: flex;
  align-items: end;
  gap: 0.2rem;
}
header .logo__Container img {
  width: 75px;
  height: 75px;
}
header .banner__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35rem;
}
header .text__banner {
  width: 500px;
}
header .text__banner button {
  font-size: medium;
  width: 40%;
  padding-block: 15px;
}
header .text__banner h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 3rem;
}
header .text__banner p {
  width: 65%;
}

main .card__container {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  bottom: 80px;
}
main .card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 60px rgb(175, 175, 175);
  border-radius: 1.5rem;
  padding: 20px;
  gap: 1rem;
  background-color: white;
}
main .card__form .card-img-top {
  width: 80px;
}
main .card__form h5 {
  font-family: "Lilita One", sans-serif;
  font-size: 1.1rem;
}
main .card__form p {
  margin-top: 0.2rem;
  font-size: 14px;
}
main .border1 {
  border-top: 10px solid rgb(255, 166, 0);
}
main .border2 {
  border-top: 10px solid #8132af;
}
main .border3 {
  border-top: 10px solid rgb(255, 208, 0);
}
main .servicos__container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  gap: 15rem;
  align-items: center;
}
main .servicos__container .container__servicos__img .servicos__img {
  width: 500px;
  height: 500px;
}
main .servicos__container .container__p__servicos {
  width: 29rem;
  text-align: justify;
}
main .servicos__container .container__p__servicos h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 2.2rem;
}
main .servicos__container .container__p__servicos .p__velocidade span {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #72d1ca;
}
main .servicos__container .container__p__servicos .p__simplicidade span {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #3c5b9d;
}
main .servicos__container .container__p__servicos .p__qualidade span {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #4194fd;
}
main .about__servicos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
}
main .about__servicos__container h2 {
  font-family: "Lilita One", sans-serif;
  font-size: 2rem;
}
main .about__servicos__container .cards__servicos {
  display: flex;
  gap: 5rem;
  padding-block: 1.5rem;
}
main .about__servicos__container .cards__servicos .card__form {
  height: 230px;
}
main .about__servicos__container .cards__servicos .card__form h5 {
  font-family: "Lilita One", sans-serif;
}
main .profissionais__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding-top: 5rem;
  height: 33.5rem;
  overflow: hidden;
  gap: 15rem;
  background: linear-gradient(90deg, rgb(227, 239, 250) 0%, rgb(234, 255, 255) 100%);
}
main .profissionais__container .profissionais__p {
  width: 35rem;
}
main .profissionais__container .profissionais__p h2 {
  font-family: "Lilita One", sans-serif;
}
main .profissionais__container .profissionais__p p {
  margin-top: 2.3rem;
  text-align: justify;
}
main .profissionais__container .profissionais__img__container .profissional__img {
  width: 350px;
}
main .swiper {
  align-items: center;
  text-align: center;
  width: 80%;
  height: 300px;
}
main .swiper .card__slide {
  background-color: #72d1ca;
  height: 250px;
  width: 300px;
  margin-top: 1.5rem;
  margin-inline: auto;
}
main .swiper img {
  width: 80px;
  border-radius: 100px;
  margin-top: 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  padding-block: 5rem;
  gap: 15rem;
  background-color: rgb(12, 39, 78);
  color: white;
}
footer ul {
  line-height: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .blc1__footer li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .blc1__footer li h1 {
  font-family: "Passion One", sans-serif;
  font-weight: 800;
}
footer .blc1__footer li h1 span {
  color: #8132af;
}
footer .blc1__footer li img {
  width: 50px;
}
footer .blc2__footer span,
footer .blc3__footer span {
  font-weight: bold;
  font-family: "Lilita One", sans-serif;
  font-size: large;
}/*# sourceMappingURL=index.css.map */